.body {
    background-color: darkolivegreen;
}
.meat {
    background-color: khaki;
}
.name {
    display: flex;
    padding: 10px;
    justify-content: center;
}
.current-study {
    text-align: center;
}
.intro {
    display: flex;
    justify-content: space-evenly;
    flex-flow: column;
    list-style-type: none;
    padding: 15px;
    margin: 30px;
}
.contact {
    background-color: khaki;

}
a {
    position: relative;
}

a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #18272F;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}
.contact {
    display: flex;
    justify-content: space-evenly;
    align-content: flex-end;
    list-style-type: none;
}
@media screen and (max-width: 500px) {
    .contact {
        flex-direction: column;
    }
}
#ski {
    display: block;
    margin: auto;
    box-shadow: 15px 15px 15px darkolivegreen
}
.past-study {
    padding: 15px;
    margin: 30px;
}
@media screen and (max-width: 500px) {
    #ski {
        width: 300px;
    }
}